@font-face {
   font-family: 'SatellaRegular-ZVVaz';
   font-display: swap;
   src: url('file:///C:/Users/rafab/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-05-09_033042/fonts/SatellaRegular-ZVVaz/font.ttf');
}
